/******* Start of page wide classes *******/
.glass-container {
    border-radius: 10px;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.3);
    color: white;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

/******* Start Flip container ******************/
.flip-parent {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flip-container {
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    perspective: 1000px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: center center;
  }
  
  .flip-container:hover .flip-card {
    transform: rotateY( 180deg ) ;
    transition: transform 1s;
  }
  
  .flip-front,
  .flip-back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
.flip-back {
    transform: rotateY( 180deg );
  }
/***************** End flip card **********************/
/****** End of page wide classes *************/


/********** Start of Welcome container and typewriter **********/
#welcome-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    transition: height 1s ease;
}

.scroll {
    height: 500px;
}

#welcome-container.scroll {
    height: 500px;
}

#hello-container, #name-container {
    color: white;
    font-size: 60px;
    background: transparent;
}

.caret-container{
    border-right: 2px solid white;
    padding: 5px;
    min-height: 70px;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret{
    from, to {border-color: transparent;}
    50% {border-color: white;}
}

.main-container {
    display: none;
}
/*********** End of Welcome container and typwriter **************/


/********** Start of About Me Container ***************/
.about-container {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about-flip-container {
    width: 75%;
}

.about-card {
    min-height: 500px;
    padding: 10px;
}

.bio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.head-shot-img {
    height: 300px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.3);
}

@media (max-width: 992px){
    .bio-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-flip-container {
        height: 800px;
    }
}
/********** End of About Me Container ***************/


/********** Start of Skills Container ***************/
.skills-container {
    background: transparent;
}

.logos-row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.logo-parent {
    background: rgb(21, 21, 24, 0.5);
    border-radius: 10px;
    margin: 5px;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    box-sizing: border-box;
    padding: 0px;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
}

.skills_header {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}

.logos-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.moving-logo {
    height: 100px;
    position: absolute;
}
/********** End of skills container ***************/


/*************** dynamic sizing of skills containers ********************/
@media (min-width: 769px){
    /* Two columns on larger screens with larger containers */
    .logo-parent{
        width: 500px;
        margin-right: 5%;
        margin-left: 5%;
        height: 400px;
    }
    .logos-row{
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 768px){
    /* One column on medium screens with larager container */
    .logo-parent{
        width: 500px;
        height: 400px;
    }
    .logos-row{
        flex-direction: column;
    }
}

/* One smaller container per row for small screens */
@media (max-width: 576px){
    .moving-logo{
        height: 50px;
    }
    .logo-parent{
        width: 300px;
        height:300px;
    }
    .logos-row{
        flex-direction: column;
    }
}


/******** Projects Container ********/
.projects-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.project-col {
    min-height: 300px;
    min-width: 300px;
    border-radius: 10px;
    margin: 5px;
    border: solid #0088cc 1px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.project-img {
    height: 200px;
}

.project-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #0088cc;
    height: 30px;
    width: 70px;
    padding: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: solid 1px #0088cc;
}

.button:hover {
    background: transparent;
    color: #0088cc;
}
