/******* Start of page wide classes *******/
.glass-container {
    border-radius: 10px;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.3);
    color: white;
}

.dark-glass {
    border-radius: 10px;
    border: solid rgb(0, 0, 0, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(0, 0, 0, 0.5);
    color: white;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.section-spacer {
    width: 100%;
    height: calc(100vh / 2);
}

.section-header {
    width: 100%;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    width: 75%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/******* Start Flip container ******************/
.flip-parent {
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.flip-container {
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    perspective: 1000px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  /* what the actually flips are performed on */
  .flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    padding: 0;
    margin:0;
  }
  
  /* toggleClass for half flip */
  .half-flip {
    transform: rotateY( 180deg ) ;
    transition: transform 1s;
  }

  .flip-card.half-flip {
    transform: rotateY( 180deg ) ;
    transition: transform 1s;
  }

  .flip-front, .flip-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
  }

  .flip-back {
    /* start the back of the card flipped */
    transform: rotateY(180deg);
  }

  .flip-back > div {
    height: 100%;
    width: 100%;
  }

.show-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-content {
    display: none;
}
  
/***************** End flip card **********************/
/****** End of page wide classes *************/


/********** Start of Welcome container and typewriter **********/
#welcome-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* transition: height 1s ease; */
}

#hello-container, #name-container {
    color: white;
    font-size: 60px;
    background: transparent;
}

.caret-container{
    border-right: 2px solid white;
    padding: 5px;
    min-height: 70px;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret{
    from, to {border-color: transparent;}
    50% {border-color: white;}
}
/*********** End of Welcome container and typwriter **************/
.about-main {
    min-height: 75%;
    min-width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.about-flip-parent {
    width: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-glass {
    border-radius: 10px;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.2);
    color: white;
}

.about-card {
    min-height: 350px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.about-category, .skills-category {
    color: white;
    margin: 30px;
    border-radius: 10px;
}

.clicked {
    text-shadow: 0px 0px 0px yellow;
    animation: about-glow 8s linear infinite;
}

.about-category.clicked, .skills-category.clicked {
    text-shadow: 0px 0px 0px yellow;
    animation: about-glow 8s linear infinite;
}

.about-category:hover, .skills-category:hover {
    cursor: pointer;
}

.head-shot-img {
    height: 300px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255, 0.5) 1px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.3);
}

@keyframes about-glow {
    0% {
      text-shadow: 0px 0px 0px yellow;
    }
    25% {
      text-shadow: 0px 0px 40px yellow;
    }
    50% {
      text-shadow: 0px 0px 10px yellow;
    }
    75% {
        text-shadow: 0px 0px 40px yellow;
    }
    100% {
        text-shadow: 0px 0px, 0px yellow;
    }
  }

/********** Start of About Me Container ***************/


@media (max-width: 992px){
    .bio-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-flip-container {
        height: 800px;
    }
}
/********** End of About Me Container ***************/


/********** Start of Skills Container ***************/
.skills-main {
    width: 75%;
    min-height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 10px;
}

.skills-categories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.skills-flip-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


.full-stack {
    border-bottom: 3px solid white;
}


.skills_header {
    border-bottom: solid rgb(255, 255, 255, 0.5) 1px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}


.logos-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
    /* new */
}

.moving-logo {
    height: 75px;
    position: absolute;
    background: transparent;
    margin: 0;
    padding: 0;
}
/********** End of skills container ***************/


/*************** dynamic sizing of skills containers ********************/
@media (min-width: 769px){
    /* Two columns on larger screens with larger containers */
    .logo-parent{
        width: 500px;
        margin-right: 5%;
        margin-left: 5%;
        height: 400px;
    }
    .logos-row{
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 768px){
    /* One column on medium screens with larager container */
    .logo-parent{
        width: 500px;
        height: 400px;
    }
    .logos-row{
        flex-direction: column;
    }
}

/* One smaller container per row for small screens */
@media (max-width: 576px){
    /* .moving-logo{
        height: 50px;
    } */
    .logo-parent{
        width: 300px;
        height:300px;
    }
    .logos-row{
        flex-direction: column;
    }
}


/******** Projects Container ********/
.project-col {
    min-height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    flex: 0 0 auto;
}

.project-cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
}


.project-img {
    height: 200px;
}

.project-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #0088cc;
    height: 30px;
    width: 70px;
    padding: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: solid 1px #0088cc;
}

.button:hover {
    background: transparent;
    color: #0088cc;
}
/******** End projects contatiner ********/

/********* Contact section *************/

/********** End of contact section ******/

