{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>docker_portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap and JQuery-->
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" href="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type=text/css href="{% static 'bootstrap.min.css' %}">
    <!-- Project level CSS and JS Files -->
    <link rel="stylesheet" type="text/css" href='{% static "project.css" %}'>
    <script type="text/javascript" src="{% static 'project.js' %}"></script>
    <!-- Block for Apps to add CSS and JS Files -->
    {% block header_extension %}
    {% endblock %}
    
</head>

<body class="purple">

    <header class="fixed-top" id="header">
        <div class="top-navbar" id="top-navbar">
            <div class="top-navbar-left-side">
                <a class="img-link" href="{% url 'home_page:index' %}">
                    <img id="pod-img" src="{% static 'site_pictures/pod_logo.png' %}" alt="Programming on Demand Logo">
                </a>
                <a class="header-text" href="#welcome-section">Portfolio</a>
            </div>
            <div class="top-navbar-right-side">
                <a class="header-text" href="#about-section">About</a>
                <a class="header-text" href="#skills-container">Skills</a>
                <a class="header-text" href="#projects-container">Projects</a>
                <a class="header-text" href="#contact-container">Contact</a>
            </div>
        </div>
    </header>

    <main id="main">
        {% block body_extension %}
        {% endblock %}
    </main>

    <footer>
        <div class="bottom-navbar">
            <p class="" id="copyright">&copy; Programming On Demand 2025</p>
        </div>
    </footer>

</body>

</html>