{% load static %}

<html>
    <head>
        <script type="text/javascript" src="{% static 'jquery-3.2.1.slim.min.js' %}"></script>
        <script type="text/javascript" href="{% static 'bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" type=text/css href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href='{% static "home_page/home_page.css" %}'>
        <script type="text/javascript" src="{% static 'home_page/home_page.js' %}"></script>
    </head>
    <body>
        <div class="test">
            <p>test</p>
        </div>
    </body>
</html>