{% extends 'base.html' %}
{% load static %}

<!-- Add the static files to the header block -->
{% block header_extension %}
<link rel="stylesheet" type="text/css" href='{% static "home_page/home_page.css" %}'>
<script type="text/javascript" src="{% static 'home_page/home_page.js' %}"></script>
{% endblock %}

<!-- Add the index's content to the main header block -->
{% block body_extension %}

<div class="sections-wrapper" id="sections-wrapper">

<!-- Welcome Section -->
<div class="section" id="welcome-section"> 
    <!-- Welcome container with typewriter effect -->
    <div class="welcome-container" id="welcome-container">
        <h1 id="hello-container" class="caret-container"></h1>
        <h1 id="name-container" class=""></h1>
    </div>
<!-- Close of Welcome Section -->
</div>

<div class="section-spacer" id=""></div>

<!-- About Section -->
<div class="section" id="about-section">
    <div class="about-main dark-glass">
        <h1 class="text-white text-center">About Me</h1>
        <div class="about-container">
            <!-- Clickable categories list -->
            <div class="about-card">
                <h3 class="about-category" id="goals">Goals</h3>
                <h3 class="about-category" id="work-experience">Work Experience</h3>
                <h3 class="about-category" id="education">Education</h3>
            </div>
            <!-- Flip Card parent and container -->
            <div class="about-flip-parent">
                <div class="flip-container" id="about-flip-container">
                    <!-- Flip Card (what actually flips) -->
                    <div class="flip-card about-card" id="about-flip-card">
                        <!-- Front of flip card -->
                        <div class="flip-front about-glass about-front" id="about-front">
                            <img alt="Head Shot" class="head-shot-img" src="{% static 'site_pictures/head_shot.png' %}">
                        </div>
                        <!-- Backs of flip Card -->
                        <div class="flip-back about-glass">
                            <div class="about-back" id="goals-card">
                                <h1>describe my goals here</h1>
                            </div>
                            <div class="about-back" id="work-experience-card">
                                <h1>describe my work experience here</h1>
                            </div>
                            <div class="about-back" id="education-card">
                                <h1>describe my education here</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Close of About Section -->
</div>

<div class="section-spacer"></div>

<!-- Skills Section -->
<div class="section" id="skills-section">

    <div class="skills-container" id="skills-container">
        <div class="w-100">
            <h1 class="w-100 text-center text-white">Skills</h1>
        </div>
        <!-- container template-->
        <div class="w-100 logos-row">
            {% for skill in skills %}
            <div class="glass-container logo-parent">
                <h3 class="skills_header">{{ skill.header }}</h3>
                <div class="logos-container" id="{{ skill.id }}">
                    {% for logo in skill.logos %}
                    <img src="{% static logo %}" class="moving-logo">
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

</div>

<div class="section-spacer"></div>
<div class="section" id="projects-section">

    <!-- Projects Me container -->
    <div class="projects-container" id="projects-container">
        <div class="row w-100 justify-content-center">
            <h1 class="w-100 text-center text-white">Projects</h1>
        </div>
        <div class="row w-100 justify-content-center align-items-center">
            {% for project in projects %}
            <div class="col col-sm-12 col-md-6 col-lg-3 project-col">
                <div class="project-row">
                    <h6>{{ project.name }}</h6>
                </div>
                <div class="project-row">
                    <img class="project-img" src="{% static project.img_url %}">
                </div>
                <div class="project-row">
                    <p class="w-100 project-text text-center">
                        {{ project.text }}
                    </p>
                </div>
                <div class="project-row justify-content-around">
                    <a class="button" href="{{ project.github_link}}">GitHub</a>
                    <a class="button" href="{{ project.project_link }}">Project</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<div class="section-spacer"></div>
<div class="section" id="contact-section">

    <!-- Contact container -->
    <div class="section-container contact-container mb-0" id="contact-container">
        <div class="row w-100 justify-content-center">
            <h1 class="w-100 text-center text-white">Let's Talk</h1>
        </div>
    </div>
</div> 

</div>
{% endblock %}



<!-- <div class="flip-parent">
    <div class="flip-container">
        <div class="flip-card">
          <div class="flip-front">
            Front
          </div>
          <div class="flip-back">
            Back!
          </div>
        </div>
    </div>
</div> -->





<!-- <div class="flip-parent">
    <div class="flip-container about-flip-container">
        <div class="flip-card about-card">
            <div class="flip-front glass-container about-front">
                <h1>About Me</h1>
            </div>
            <div class="flip-back glass-container">
                <div class="bio-container">
                <img alt="Head Shot" class="head-shot-img" src="{% static 'site_pictures/head_shot.png' %}">
                <h6 class="text-left">
                    I am mostly self-taught. I took one non-credit class at my <br>
                    local community college; however, most of my study has involved <br>
                    reading books, watching videos, and just practicing writing code. <br>
                    <br>
                    My desire is to become a full-stack software developer. However, I <br>
                    would also be interested in a backend-focused career. I am training <br>
                    to be a web-based developer; however, I am open to being desktop- <br>
                    based as well.<br>
                    <br>
                    I am also open to and enjoy learning new languages; however, so far my <br>
                    my focus has been on Python, SQL, and the related stack. You can see <br>
                    below some of the skills that I am familiar with and that I have used <br>
                    in my portfolio projects.
                </h6>
                </div>
            </div>
        </div>
    </div>
</div> -->